HTML/XML/Activitat 3/botiga.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="botiga">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="producte" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nom" type="xs:string"/>
              <xs:element name="descripcio" type="xs:string" minOccurs="0"/>
              <xs:element name="preu" type="xs:decimal"/>
              <xs:element name="categoria" type="xs:string" minOccurs="1" maxOccurs="5"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int" use="required"/>
            <xs:attribute name="disponible" type="xs:boolean" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>