HTML/XML/Activitat 3/hotel.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reserves">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reserva" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="client">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nom" type="xs:string"/>
                    <xs:element name="email">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="[^@]+@[^\.]+\..+"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="habitacio">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="numero">
                      <xs:simpleType>
                        <xs:restriction base="xs:int">
                          <xs:minInclusive value="100"/>
                          <xs:maxInclusive value="999"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tipus">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Individual"/>
                          <xs:enumeration value="Doble"/>
                          <xs:enumeration value="Suite"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="dataEntrada" type="xs:date"/>
              <xs:element name="dataSortida" type="xs:date"/>
            </xs:sequence>
            <xs:attribute name="id">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="RES-\d{4}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
