XML/Activitat 3/hotel.dtd

<!ELEMENT reserves (reserva+)>
<!ELEMENT reserva (client, habitacio, dataEntrada, dataSortida)>
<!ATTLIST reserva id CDATA #REQUIRED>
<!ELEMENT client (nom, email)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT habitacio (numero, tipus)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT tipus (#PCDATA)>
<!ELEMENT dataEntrada (#PCDATA)>
<!ELEMENT dataSortida (#PCDATA)>