HTML/XML/ejemplo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="persona">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nom" type="xs:string"/>
                <xs:element name="edat" type="xs:integer"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer"/> 
        </xs:complexType>
    </xs:element>
</xs:schema>